body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 40px auto;
    color: #363e3c;
    background-color: #ff5000;
}

textarea {
    width: 100%; 
    height: 120px; 
    padding: 10px;
    font-size: 16px;

}
::placeholder{
    color: #ffffff;
}

h2{
    font-weight: 700;
}
h3 {
    font-weight: 600;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #363e3c;
    border: none;
    color: #ffffff;
    border-radius: 5px;
}
 
.answer {
    width: 100%; 
    margin-top: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
}
